<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up!</title>
     <style>
        body {
            background-color: #89A8B2;
            font-family: Arial, sans-serif;
            margin: auto;
            padding: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110vh;
            box-sizing: border-box;
            /* Gradient Background */
            background: linear-gradient(90deg, #89A8B2, #000000bb, #144758);
            background-size: 400% 400%;
            animation: gradientAnimation 15s infinite linear;
        }

            /* Keyframes for the gradient animation */
        @keyframes gradientAnimation {
               0% {
                background-position: 0% 50%;
               }
                50% {
                background-position: 100% 50%;
               }
                100% {
                background-position: 0% 50%;
           }
         }

        p {
            text-align: center;
            font-weight: bold;
            color: white;
        }
        form {
            width: 500px;
            padding: 20px;
            margin-top: 100px;
            margin-bottom: 100px;
            background-color:#B3C8CF;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin: 10px 0;
            font-weight: bold;
            color: rgb(100, 100, 100);
        }

        input, select, button {
            width: 96%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;
        }

        button {
            display: inline-block;
            transition: background-color 0.3s;
            background-color: #6A9AB0;
            color: white;
            border: none;
            width: 100%;
            cursor: pointer;
            font-size: 18px;
   
        }
        button:hover {
            background-color:#6a9ab0a8;
        }

        a.createButton {
            display: inline-block;
            transition: background-color 0.3s;
            background-color: #6a9ab0;
            border-color: #6a9ab0;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
            font-size: 16px;
            color: white;
            text-decoration: none;
        }

        div {
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
        }

        .createButton:hover {
            background-color: #6a9ab09a;
            border-color: #6A9AB0;
        }
        
        .successMsg {
            text-align: center; /* Center the success message */
            font-weight: bold;
            color: rgb(100, 100, 100);
            margin-top: 20px; /* Add margin to separate from the form */
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <form id="signup-form" action="/signup" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <% if (typeof errors !== 'undefined' && errors.firstName) { %>
            <p><%= errors.firstName %></p>
        <% } %>
    
        <label for="midName">Middle Name:</label>
        <input type="text" id="midName" name="midName">
        <% if (typeof errors !== 'undefined' && errors.midName) { %>
            <p><%= errors.midName %></p>
        <% } %>
    
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <% if (typeof errors !== 'undefined' && errors.lastName) { %>
            <p><%= errors.lastName %></p>
        <% } %>
    
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" required>
        <% if (typeof errors !== 'undefined' && errors.userName) { %>
            <p><%= errors.userName %></p>
        <% } %>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <% if (typeof errors !== 'undefined' && errors.password) { %>
            <p><%= errors.password %></p>
        <% } %>
    
        <label for="confirmP">Confirm Password:</label>
        <input type="password" id="confirmP" name="confirmP" required>
        <% if (typeof errors !== 'undefined' && errors.confirmP) { %>
            <p><%= errors.confirmP %></p>
        <% } %>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <% if (typeof errors !== 'undefined' && errors.email) { %>
            <p><%= errors.email %></p>
        <% } %>
    
        <label for="birth">Birth Date:</label>
        <input type="date" id="birth" name="birth" required>
        <% if (typeof errors !== 'undefined' && errors.birth) { %>
            <p><%= errors.birth %></p>
        <% } %>
    
        <button type="submit">Sign Up</button>
        <br><br>
        <div>
            <a href="/" class="createButton" type="button">Already Have an Account?</a>
        </div>
        <% if (typeof successMessage !== 'undefined') { %>
            <!-- Display success message -->
            <p class="successMsg"><%= successMessage %></p>
          
            <script>
              // Redirect to the homepage after 5 seconds
              setTimeout(function() {
                window.location.href = '/';
              }, 5000); // 5000 milliseconds = 5 seconds
            </script>
          <% } %>
    </form>
    
</body>
</html>

